body {
  background-color: black;
}
.common {
  border: 2px solid black;
  position: absolute;
}
.nav {
  position: relative;
  float: right;
  background-color: beige;
  z-index: 2;
  font-size: small;
}
.header {
  background-color: azure;
  text-align: center;
  left: 0px;
  right: 0px;
  top: 0px;
  height: auto;
  z-index: 1;
}
.main {
  background-color: cadetblue;
  top: 80px;
  left: 50px;
  right: 50px;
  bottom: auto;
}
.footer {
  text-align: center;
  font-style: italic;
  font-size: 40%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: auto;
  background-color: azure;
  position: fixed;
}
img {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
    margin-bottom: auto;
}
h2 {
  text-align: left;
  font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 150%;
    margin-left: 15px;
    margin-right: 15px;
}
p {
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  font-size: 120%;
  text-align: left;
  margin-left: 15px;
    margin-right: 15px;
}
.section-heading {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 150%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 15px;
    margin-right: 15px;
}
ul {
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  font-size: 120%;
  margin-left: 15px;
    margin-right: 15px;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
li {
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    margin-left: 15px;
    margin-right: 15px;

}
ul {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
}
object {
  display: block;
  margin-left: auto;
  margin-right: auto;
}